body {
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: #ffffff;
  }
  
  .body-bg {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .verde {
      color: rgb(66, 197, 14);
  }
  .sarita {
    color: rgb(241, 238, 13);

}
.color{
    color: rgb(218, 13, 13);
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 7px solid rgb(185, 8, 97);
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }